In [1]:
%load_ext autoreload
%autoreload 2

# Sample usage of `ruska`'s `Inspector`
`Inspector` is a module that helps explaining data cleaning outcomes. Three datasets feed into `Inspector`: The clean dataset, the dirty dataset, and the dataset after the cleaning operation, called "treated".

In [3]:
from ruska import Inspector
import pandas as pd

In [4]:
df_clean = pd.read_csv('sample_data/hospital_1k_clean.csv', header=None)
df_dirty = pd.read_csv('sample_data/hospital_1k_dirty.csv', header=None)
df_treated = pd.read_csv('sample_data/hospital_1k_treated.csv', header=None)

se_clean = df_clean.iloc[:, 3]
se_dirty = df_dirty.iloc[:, 3]
se_treated = df_treated.iloc[:, 3]

`Inspector` can operate under two scenarios: One, where it is assumed that error positions are known (as in Baran), and one, in which error positions are unknown (datawig).

In [5]:
ins = Inspector(assume_errors_known=True)
ins.calculate_error_positions(se_clean, se_dirty)

A boolean selector of error positions is maintained in the `Inspector` object. It can be used to access errors in the data:

In [7]:
se_treated.loc[ins._error_positions]

271    ALABASTER
274    ALABASTER
275    ALABASTER
276    ALABASTER
278    ALABASTER
279    ALABASTER
280    ALABASTER
281    ALABASTER
282    ALABASTER
283    ALABASTER
284    ALABASTER
285    ALABASTER
287    ALABASTER
289    ALABASTER
290    ALABASTER
291    ALABASTER
292    ALABASTER
293    ALABASTER
836      CLANTON
Name: 3, dtype: object

In this example, `df_treated` is actually a copy of `df_clean`. So let's simulate a program cleaning row `271` with the value `'Berlin'`:

In [8]:
se_treated.iat[271] = 'BERLIN'

Now, one can calculate the cleaning performance:

In [10]:
ins.cleaning_performance(se_clean, se_treated, se_dirty)

Calculating Cleaning Performance.
Counted 18 TPs, 0 FPs, 1 FNs and 0 TNs.

0.972972972972973

## Inspecting
To inspect cleaning results, first run `calculate_cleaning_error_positions`, then, `inspect_cleaning_results`. The context with which the correction is displayed can be passed as a `slice`:

In [12]:
ins.calculate_cleaning_error_positions(se_clean, se_treated)

In [14]:
ins.inspect_cleaning_results(df_clean, df_treated, df_dirty, slice(2,5))

Evaluating error 0 from 999
Error in row 271:
                           2            3   4        5
268         33700 HIGHWAY 43  THOMASVILLE  AL  36784.0
269  1000 FIRST STREET NORTH    ALABASTER  AL  35007.0
270  1000 FIRST STREET NORTH    ALABASTER  AL  35007.0
271  1000 FIRST STREET NORTH     ALABATER  AL  35007.0
272  1000 FIRST STREET NORTH    ALABASTER  AL  35007.0
273  1000 FIRST STREET NORTH    ALABASTER   L  35007.0
Cleaning result in row 271:
                           2            3   4      5
268         33700 HIGHWAY 43  THOMASVILLE  AL  36784
269  1000 FIRST STREET NORTH    ALABASTER  AL  35007
270  1000 FIRST STREET NORTH    ALABASTER  AL  35007
271  1000 FIRST STREET NORTH       BERLIN  AL  35007
272  1000 FIRST STREET NORTH    ALABASTER  AL  35007
273  1000 FIRST STREET NORTH    ALABASTER  AL  35007
Groud truth in row 271:
                           2            3   4      5
268         33700 HIGHWAY 43  THOMASVILLE  AL  36784
269  1000 FIRST STREET NORTH    ALABASTER  AL  35007
270  1000 FIRST STREET NORTH    ALABASTER  AL  35007
271  1000 FIRST STREET NORTH    ALABASTER  AL  35007
272  1000 FIRST STREET NORTH    ALABASTER  AL  35007
273  1000 FIRST STREET NORTH    ALABASTER  AL  35007